<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.js"></script>
<script src="cola.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="greuler.js"></script>
<script src="elm.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"></link>
</head>
<body>
<div class="container">
<h3>Reaction Network Dynamics</h3>
<p>Blue nodes represent chemical species, while green nodes represent reactions.</p>
<em>Species can be connected with reactions and vice versa</em>
<hr />
<div class="row">
  <div class="row">
    <div class="eight columns">
      <label for="preset-select">Network Presets:</label>
      <select id="preset-select">
        <option value="water">Formation of Water</option>
        <option value="sodiumChloride">Formation of NaCl</option>
        <option value="lotkaVolterra">Lotka-Volterra model</option>
      </select>
    </div>
    <div class="four columns">
      <input type="button" id="start-reactions" class="button-primary" value="Start Reactions"></input>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <div id="elm">
      </div>
    </div>
  </div>
</div>
<div id="graph">
</div>
<div class="row">
  <div class="six columns">
    <form id="add-species">
      <input type="text" id="species-name" placeholder="New Species Name"></input>
      <input type="number" min="0" id="species-quantity" placeholder="Initial Quantity"></input>
      <input type="submit" class="button" value="Add New Species"></input>
    </form>
  </div>
  <div class="six columns">
    <form id="add-transition">
      <input type="number" min="0" id="transition-rate" placeholder="Reaction Rate"></input>
      <input type="submit" class="button" value="Add New Reaction"></input>
    </form>
  </div>
</div>
<script src="reaction_network/graph_manipulation.js"></script>
<script src="reaction_network/reaction_presets.js"></script>
<script src="reaction_network/reaction_simulation.js"></script>
<script src="reaction_network/main.js"></script>
</body>
</html>

