<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.js"></script>
<script src="cola.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="greuler.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"></link>
</head>
<body>
<div class="container">
<div id="graph">
</div>
<div class="row">
  <div class="row">
    <div class="six columns">
      <form id="add-species">
        <input type="text" id="species-name" placeholder="New Species Name"></input>
        <input type="submit" class="button" value="Add New Species"></input>
      </form>
    </div>
    <div class="six columns">
      <form id="add-transition">
        <input type="submit" class="button" value="Add New Transition"></input>
      </form>
    </div>
  </div>
</div>
</div>
<script src="laplacian.js"></script>
</body>
</html>

